$bgclr:#E05433;
$white:white;
$whiteOp:rgba(255, 255, 255, .5);
$txtClr: white;
$inpClr:rgba(33, 37, 41, 0.65);
$rateColor:#28A745;
$spanBgClr:#343A40;
$cardTxtClr:#212529;
$brdClr:hsl(0, 0%, 80%);
$inputBrdClr:rgba(0, 0, 0, 0.125);
$inputTxtClr:#212529;